---
layout: layouts/base.njk
---

{# Only include the post CSS on blog posts #}
<style>{% include "css/style.css" %}</style>
<h1>{{ title }}</h1>

    <div class="tech-post-meta">
      <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>

      {%- if tags %}
      <span class="tech-tags">
        {%- for tag in tags | filterTagList %}
          {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
          <a href="{{ tagUrl }}" class="tech-tag">#{{ tag }}</a>
        {%- endfor %}
      </span>
      {%- endif %}
    </div>
  </header>

  <div class="tech-post-content">
    {{ content | safe }}
  </div>

  {%- if collections.posts %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem %}
    {%- set nextPost = collections.posts | getNextCollectionItem %}
    {%- if nextPost or previousPost %}
      <nav class="tech-nextprev" aria-label="Post navigation">
        {%- if previousPost %}
          <a class="tech-navcard" href="{{ previousPost.url }}">
            <span class="tech-navlabel">← Previous</span>
            <span class="tech-navtitle">{{ previousPost.data.title }}</span>
          </a>
        {%- endif %}

        {%- if nextPost %}
          <a class="tech-navcard tech-navcard-right" href="{{ nextPost.url }}">
            <span class="tech-navlabel">Next →</span>
            <span class="tech-navtitle">{{ nextPost.data.title }}</span>
          </a>
        {%- endif %}
      </nav>
    {%- endif %}
  {%- endif %}
</article>
